<cvt:template
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:cvt="http://xmlns.therebetygers.net/civet/0.2"
    extends="base.html">

  <cvt:head>
    <cvt:locale lang="en" country="US" encoding="utf-8" />

    <cvt:defmacro name="tagLink">
      <a>
        <cvt:attr name="href">
          /tags/<cvt:var name="tag" format="uri" />
        </cvt:attr>
        <cvt:var name="tag" />
      </a>
    </cvt:defmacro>
    
    <cvt:defmacro name="simplePagerNewerLink">
      <a class="NewerLink">
        <cvt:attr name="href">
          <cvt:var name="self_base_url" />?offset=<cvt:var name="simple_pager.newer" type="integer" />
        </cvt:attr>
        &lt; Newer Posts
      </a>
    </cvt:defmacro>
    
    <cvt:defmacro name="simplePagerOlderLink">
      <a class="OlderLink">
        <cvt:attr name="href">
          <cvt:var name="self_base_url" />?offset=<cvt:var name="simple_pager.older" type="integer" />
        </cvt:attr>
        Older Posts &gt;
      </a>
    </cvt:defmacro>
  </cvt:head>

  <cvt:block name="htmlTitle">
    <title>Coq au Vin: Articles</title>
  </cvt:block>

  <cvt:block name="pageScripts">
    <script type="text/javascript">
      var dirty = false;
      var bodyMD = "<cvt:var name="body_md"/>";
      var bodyDiv;
      var bodyHTML;
      var canEdit = <cvt:var name="can_edit" type="boolean" format="ls"/>;
    
      function showEditButton() {
      }
      
      function beginEditing() {
        bodyDiv.empty();
      }
    
      function discardChanges() {
      }
  
      function previewChanges() {
      }
  
      function submitChanges() {
      }
  
      function setupForAJAX() {
        $("#beginEditForm").removeAttr("action");
        $("#beginEditForm").removeAttr("method");
      }
  
      $(document).ready(function () {
        bodyDiv = $("#articleBody");
        bodyHTML = bodyDiv.html();
        if (canEdit) {
          showEditButton();
        }
      });
    </script>
  </cvt:block>

  <cvt:block name="leftSideContent">
    <em>Left</em>
  </cvt:block>
  
  <cvt:block name="mainContent">
    <!-- <cvt:for each="article" in="articles" sort="numeric" sort-field="raw_dt" order="desc"> -->
    <!-- Already sorted by SQL query. -->
    <cvt:for each="article" in="articles" sort="none">
      <div class="TeaserBlock">
        <cvt:if test="article.series">
          <h5 class="seriesTitle">
            <a>
              <cvt:attr name="href">/series/<cvt:var name="article.series" /></cvt:attr>
              <cvt:var name="article.series"/>
            </a>
            <cvt:if test="article.series_pt">, Part <cvt:var name="article.series_pt"/></cvt:if>
          </h5>
        </cvt:if>
        <h3 class="articleTitle">
          <a>
            <cvt:attr name="href">/articles/<cvt:var name="article.node_id" /></cvt:attr>
            <cvt:var name="article.article_title"/>
          </a>
        </h3>
        <cvt:if test="article.subtitle">
          <h4 class="articleSubTitle"><cvt:var name="article.subtitle"/></h4>
        </cvt:if>
        <div class="author-time">
          <span class="authors">
            <cvt:for each="awthur" in="article.authors" sort="alpha" sort-field="uname">
              <cvt:interpolate mode="pair"> &amp; </cvt:interpolate>
              <cvt:interpolate mode="last">, &amp; </cvt:interpolate>
              <cvt:interpolate>, </cvt:interpolate>
              <cvt:if test="awthur.display_name">
                <cvt:var name="awthur.display_name" />
                <cvt:else>
                  <cvt:var name="awthur.uname" />
                </cvt:else>
              </cvt:if>
            </cvt:for>
          </span>
          |
          <span class="created">
            <cvt:var name="article.created_dt" />
          </span>
        </div>
        <div class="teaser">
          <cvt:var name="article.text"/>
          <a>  
            <cvt:attr name="href">/articles/<cvt:var name="article.node_id" /></cvt:attr>
            MORE
          </a>
        </div>
        <div class="tags">
          Tags:
          <cvt:for each="tag" in="article.tags" sort="alpha">
            <cvt:interpolate>, </cvt:interpolate>
            <cvt:macro name="tagLink" />
          </cvt:for>
        </div>
      </div>
    </cvt:for>
    <cvt:if test="simple_pager">
      <div class="pager">
        <cvt:if test="simple_pager.newer">
          <cvt:macro name="simplePagerNewerLink"  />
        </cvt:if>
        <cvt:if test="simple_pager.older">
          <cvt:macro name="simplePagerOlderLink"  />
        </cvt:if>
      </div>
    </cvt:if>
  </cvt:block>
  
  <cvt:block name="rightSideContent">
    <em>Right</em>
  </cvt:block>
  
</cvt:template>
