<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:cvt="http://xmlns.therebetygers.net/civet/0.2"
    xml:lang="en" lang="en">
  <head>
    <cvt:block name="htmlTitle"/>
    <script type="text/javascript" cvt:src="jquerySrc">&#xa0;</script>
    <cvt:block name="pageScripts"/>
    <cvt:block name="styleSheets">
      <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    </cvt:block>
  </head>
  <body> 
    <div id="header">
      <cvt:block name="headerContent">
        <img src="/images/coq-au-vin-banner.png" alt="Coq au Vin: Blogware for Discerning Minimalists" />
      </cvt:block>
    </div>
    <div id="mainRegion">
      <div id="leftSide">
        <cvt:block name="leftSideContent"/>
      </div>
      <div id="contentArea">
        <cvt:block name="mainContent"/>
      </div>
      <div id="rightSide">
        <cvt:block name="rightSideContent"/>
      </div>
    </div>
    <div id="footer">
      <cvt:block name="footerContent">
        <a href="http://coq-au-vin.sapparicms.org/">
          <img src="/images/powered-by.png" alt="Powered by Coq au Vin" />
        </a>
        <span class="copyrightNotice">
          Copyright © <cvt:var name="copyright_year"/> by <cvt:var name="copyright_holders"/>. <cvt:var name="rights_statement"/>.
        </span>
      </cvt:block>
    </div>
  </body>
</html>
