<cvt:template
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:cvt="http://xmlns.therebetygers.net/civet/0.2"
    extends="base.html">

  <cvt:head>
    <cvt:locale lang="en" country="US" encoding="utf-8" />

    <cvt:defmacro name="itemLink">
      <a>
        <cvt:attr name="href">
          /<cvt:var name="subject" format="uri"/>/<cvt:var name="item.id" format="uri" />
        </cvt:attr>
        <cvt:var name="item.label" />
      </a>
    </cvt:defmacro>
  </cvt:head>

  <cvt:block name="htmlTitle">
    <title>
      Coq au Vin: <cvt:var name="subject" />
    </title>
  </cvt:block>

  <cvt:block name="pageScripts">
    <script type="text/javascript">
      var dirty = false;
      var bodyMD = "<cvt:var name="body_md"/>";
      var bodyDiv;
      var bodyHTML;
      var canEdit = <cvt:var name="can_edit" type="boolean" format="ls"/>;
    
      function showEditButton() {
      }
      
      function beginEditing() {
        bodyDiv.empty();
      }
    
      function discardChanges() {
      }
  
      function previewChanges() {
      }
  
      function submitChanges() {
      }
  
      function setupForAJAX() {
        $("#beginEditForm").removeAttr("action");
        $("#beginEditForm").removeAttr("method");
      }
  
      $(document).ready(function () {
        bodyDiv = $("#articleBody");
        bodyHTML = bodyDiv.html();
        if (canEdit) {
          showEditButton();
        }
      });
    </script>
  </cvt:block>

  <cvt:block name="leftSideContent">
    <em>Left</em>
  </cvt:block>
  
  <cvt:block name="mainContent">
    <h3 ><cvt:var name="subject" /></h3>
    <ul class="MetadataList">
      <cvt:for each="item" in="metadata_items" sort-field="label">
        <li>
          <cvt:macro name="itemLink" />
        </li>
      </cvt:for>
    </ul>
  </cvt:block>
  
  <cvt:block name="rightSideContent">
    <em>Right</em>
  </cvt:block>
  
</cvt:template>
