<cvt:template
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:cvt="http://xmlns.therebetygers.net/civet/0.2"
    extends="base.html">

  <cvt:head>
    <cvt:locale lang="en" country="US" encoding="utf-8" />

  </cvt:head>

  <cvt:block name="htmlTitle">
    <title>Coq au Vin: System Message</title>
  </cvt:block>

  <cvt:block name="leftSideContent">
    <em>Left</em>
  </cvt:block>
  
  <cvt:block name="mainContent">
    <p cvt:class="msg_class">
      <cvt:var name="message" />
    </p>
  </cvt:block>
  
  <cvt:block name="rightSideContent">
    <em>Right</em>
  </cvt:block>
  
</cvt:template>
