html {
  font-family: Georgia, serif;
}

#leftSide, #rightSide {
  display: none;
}

#mainRegion {
  padding-left: 25%;
  padding-right: 25%;
}

#header, #footer {
  text-align: center;
}

#header {
  padding-bottom: 1em;
  border-bottom: 3px solid #009080;
}

#controlBar {
  margin-bottom: 1.5em;
  text-align: right;
  font-family: "DejaVu Sans", "Vera Sans", Verdana, sans-serif;
  font-weight: bold;
  font-size: 90%;
}

#controlBar a {
  color: #009080;
  text-decoration: none;
  padding: 0.3em 0.7em 0.1em 0.7em;
  border-bottom: 1px dotted #009080;
}

#footer {
  margin-top: 1.5em;
  padding-top: .6em;
  padding-bottom: .2em;
  padding-left: 20%;
  padding-right: 20%;
  border-top: 2px solid #009080;
}

#footer a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2em 0 0;
}

.copyrightNotice {
  display: inline-block;
  font-size: 75%;
  // vertical-align: text-top;
}

.seriesTitle {
  font-family: "DejaVu Sans", "Vera Sans", Verdana, sans-serif;
  font-size: 96%;
  // line-height: 80%;
  margin-bottom: -.3em;
}

.TeaserBlock:first-child {
  border-top: none;
}

.TeaserBlock {
  padding-bottom: .8em;
  margin-bottom: .8em;
  border-top: 2px dotted #009080;
}

.teaser {
  margin-top: .5em;
  margin-bottom: .5em;
}

/*
.teaser p {
  display: inline;
}

.teaser a {
  padding-left: .5em;
}
*/

a.ArticlePageLink {
  font-family: "DejaVu Sans", "Vera Sans", Verdana, sans-serif;
  font-weight: bold;
  font-size: 80%;
  text-decoration: none;
}

.tags {
  padding-top: .8em;
  font-size: 88%;
}

.author-time {
  font-style: italic;
  font-size: 88%;
}

#beginEditForm {
  margin-top: 0.8em;
}

#header {
  color: #ffaaff;
}

.ArticleEditForm {
  display: table;
  border-collapse: separate;
  border-spacing: 4px;
  border: 1px #efb7b7 dotted;
  margin: 3em 0 4em 0;
  padding: .5em;
}

.FormRow {
  display: table-row;
}

.FormRow label {
  font-weight: bold;
}

.ButtonRow {
  padding-top: 1.5em;
}

.ArticleEditForm label, .ArticleEditForm input, .ArticleEditForm textarea, .ArticleEditForm .Blank, .ArticleEditForm .ButtonBox {
  display: table-cell;
}

.ArticleEditForm label, .ArticleEditForm .Blank {
  padding: .3em .5em .1em 1.5em;
  vertical-align: top;
  background-color: #ffc7c7;
  text-align: right;
}

.ArticleEditForm .ButtonBox {
  padding: 1em 0 1em 1em;
}


.articleTitle {
  font-family: "DejaVu Sans", "Vera Sans", Verdana, sans-serif;
  font-weight: bold;
  font-size: 120%;
  color: #8a0000;
  // line-height: 80%;
}

.articleTitle a {
  color: #8a0000;
}

.seriesTitle a, .articleTitle a {
  text-decoration: none;
}

.articleSubTitle {
  font-family: "DejaVu Sans", "Vera Sans", Verdana, sans-serif;
  color: #8a0000;
  margin-top: -.3em;
}

button {
  /* display: inline-block; */
  display: inline;
  margin: .25em 1em .5em 1em;
}
