#leftSide, #rightSide {
  display: none;
}

#mainRegion {
  padding-left: 25%;
  padding-right: 25%;
}

#header, #footer {
  text-align: center;
}

#header {
  margin-bottom: 1em;
}

#footer {
  margin-top: 1em;
}

.TeaserBlock {
  padding-bottom: .8em;
  margin-bottom: .8em;
  border-bottom: 2px dotted #cccc00;
}

.teaser {
  margin-top: .5em;
  margin-bottom: .5em;
}

.author-time {
  font-style: italic;
}

#beginEditForm {
  margin-top: 0.8em;
}

#header {
  color: #ffaaff;
}

.ArticleEditForm {
  display: table;
}

.FormRow {
  display: table-row;
}

.ArticleEditForm label, .ArticleEditForm input, .ArticleEditForm textarea {
  display: table-cell;
  margin: 4px;
}

.ArticleEditForm label {
  background-color: #ffc7c7;
  text-align: right;
}
